<h1>User Import Demo using <a href="https://github.com/vinsol-spree-contrib/datashift_spree/tree/0-2-stable" target="_blank">datashift_spree</a></h1>


As its a demo, <%= link_to "Clear User Related Data", reset_admin_user_imports_path %> to have blank slate
and verify the data you get after <%= link_to "Sample Import", sample_import_admin_user_imports_path %>

<br />
<br />
<%= link_to "Verify #{@admin_user_count} User(s)", admin_users_path %>
